.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.warning {
  color: var(--text-secondary);
  line-height: 1.7;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: .75rem;

  margin-top: 1rem;
}